@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root {
  --primary-color: #ffd819;
  --btn-color: #0f0f1d;
  --muted-color: #8b8b8b;
  --secondary-muted-color: #707070;
  --primary-font: 'Lato', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 15px;
}

/*-------------------------------
  All Global css
---------------------------------*/
.d-hidden {
  display: none;
}
.d-shown {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
a {
  text-decoration: none;
  color: var(--btn-color) !important;
}
a:hover {
  text-decoration: none !important;
  color: var(--btn-color) !important;
}
.container {
  padding: 0 !important;
}

/*-------------------------
  Header All Css
---------------------------*/
.header {
  height: 50px;
  background-color: var(--primary-color);
}
/*-------------------------
  Header Top Css
---------------------------*/

.header_top {
  border-bottom: 1.5px solid #8b8b8b;
  display: none;
}
/*-------------------------
  Header Middle Css
---------------------------*/

.ham-burger {
  display: block !important;
  padding: 13px 20px;
}
.ham-burger > span {
  height: 3px;
  width: 30px;
  display: flex;
  flex-direction: column;
  background: var(--btn-color);
}
.ham-burger:not(:last-child) > span {
  margin-bottom: 5px;
}
.header_middle .header_logo {
  width: 56px;
}
.header_middle .header_logo img {
  width: 100%;
}

/*-------------------------
  Header Search Component css
---------------------------*/
.header_search {
  display: none !important;
}
.select-css {
  width: 155px;
  border: none;
  border-right: 1px solid var(--secondary-muted-color);
  padding-left: 15px;
  font-size: 17px;
  font-weight: 600;
}
.select-css option {
  border-bottom: 1px solid var(--muted-color);
  padding: 10px 0;
}
.search-input {
  height: 40px !important;
  border: none !important;
}
.search-input::placeholder {
  color: var(--secondary-muted-color);
  padding-left: 15px;
  font-size: 15px;
  font-weight: 600;
}
.input-group-append .lnr {
  font-size: 15px;
  font-weight: 900;
}

/*-------------------------
  Header Service Info css
---------------------------*/

.header_service_info {
  display: none !important;
}
/*-------------------------
  Navigation CSS here
---------------------------*/
.navigation {
  height: 50px;
  background-color: var(--primary-color);
  position: relative;
  display: none;
}
.navigation_container {
  /* display: none; */
}
/*-------------------------
  Category dropdown CSS here
---------------------------*/

.category_dropdown {
  /* display: none; */
}

/*------------------------
  Page Routes component
--------------------------*/
.route_page_links {
  height: 50px;
}
.page_links a li {
  line-height: 50px;
  text-transform: capitalize;
  font-size: 18px;
  margin-left: 25px;
}

/*------------------------
  Nav buttons component
--------------------------*/
.nav_button {
  line-height: 50px;
  height: fit-content;
  padding-right: 0;
  padding-top: 10px;
}
.nav_button span.icon {
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}
.nav_button span.count {
  background-color: var(--btn-color);
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 20px;
  right: 38px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 20px;
}
.cart_drop_down {
  background-color: #fff;
  padding: 15px;
  border: 2px solid var(--primary-color);
  top: 30px;
  right: 20px;
  position: absolute;
}
.user_drop_down {
  background-color: #fff;
  padding: 15px;
  border: 2px solid var(--primary-color);
  top: 30px;
  right: 0px;
  position: absolute;
}

/*-------------------------------------
  Home Banner Css here
---------------------------------------*/
.slider-area {
  width: 100%;
  position: relative;
}
.single-slider {
  background-position: center center;
  background-size: cover;
  height: 400px;
}

.slider-text h1 {
  color: #fff;
  font-size: 31px;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 700;
}

.slider-text p {
  width: 60%;
  font-size: 16px;
  margin-bottom: 55px;
  margin-top: 20px;
  line-height: 25px;
  color: #fff;
}

.btn-1.home-btn {
  background: var(--primary-color);
  color: var(--btn-color);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  padding: 0 24px;
  text-transform: capitalize;
}

.btn-1.home-btn:hover {
  background: var(--primary-color);
  color: #fff !important;
}

/* -----------------------------
  Owl Carousel CSS (Header Slider)
--------------------------------*/
.home_slider .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 35px;
  left: 400px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
}
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
}
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary-color);
  border: none;
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  /*-------------------------
    Header Component CSS here
  ---------------------------*/
  .header {
    height: 142px;
    padding-top: 10px;
  }
  .header_top {
    display: block;
  }
  .header_middle {
    margin-top: 10px;
  }
  .header_middle .header_logo {
    width: 167px;
    height: 90px;
  }
  .ham-burger {
    display: none !important;
  }
  .header_middle .header_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .header_search {
    display: block !important;
  }
  .input-group {
    background-color: #ffffff;
    padding: 0px !important;
    height: 100%;
  }
  /*-------------------------
  Header Service Info css
---------------------------*/
  .header_service_info {
    display: block !important;
    padding-right: 0 !important;
  }
  .header_service_info .number {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
  }
  /*-------------------------
  Category dropdown CSS here
---------------------------*/

  .category_dropdown {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    position: absolute;
    top: 20;
    z-index: 1000;
    display: block;
  }
  .category_dropdown .dropdown_btn {
    height: 50px;
  }
  .category_dropdown .dropdown_btn .btn_text {
    font-size: 18px;
    margin-left: 10px;
  }
  .category_dropdown .dropdown_btn {
    padding: 10px 10px 10px 30px; /*top right bottom left*/
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    cursor: pointer;
  }
  .category_dropdown .dropdown_btn .lnr {
    font-size: 20px;
  }
  .category_dropdown ul.category_list a li {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }
  .category_dropdown ul.category_list a:not(:last-child) > li {
    border-bottom: 1px solid var(--muted-color) !important;
    padding-bottom: 10px;
  }

  /*---------------------- 
  Navigation Component 
  -------------------------*/
  .navigation {
    display: block;
  }
  .navigation_container {
    display: flex;
    flex-direction: row;
  }
}

/* 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
