@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root {
  --primary-color: #ffd819;
  --btn-color: #0f0f1d;
  --muted-color: #8b8b8b;
  --secondary-muted-color: #707070;
  --light-color: #fff;
  --primary-font: 'Lato', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 15px;
  box-sizing: border-box;
}

/*-------------------------------
  All Global css
---------------------------------*/
.d-hidden {
  display: none;
}
.d-shown {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
a {
  text-decoration: none;
  color: var(--btn-color) !important;
}
a:hover {
  text-decoration: none !important;
  color: var(--btn-color) !important;
}

a,
a:hover,
a:focus,
input,
button,
textarea,
button:hover,
button:focus {
  outline: none;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*--------------------------------------------------------------------
                        Typhography Settings
--------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 32px;
  line-height: 46px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
}

h4 {
  font-size: 16px;
  line-height: 30px;
}

h5 {
  font-size: 15px;
  line-height: 30px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
del {
  text-decoration: line-through;
}
.selected,
.selected:hover {
  color: var(--primary-color) !important;
}
/*-------------------------
  Product component Css
---------------------------*/
.product_container {
  padding: 0px;
  margin: 20px 0px;
}
.single_product {
  width: fit-content;
  padding: 15px;
  border: 1px solid var(--muted-color);
  border-radius: 0.375rem;
  text-transform: capitalize;
}
.single_product .product_image a {
  width: 100%;
  display: block;
}
.single_product .product_image {
  width: 100%;
}
.single_product .product_image img {
  width: 100%;
  max-width: 360px;
  max-height: 300px;
  border-radius: 0.375rem;
  object-fit: contain;
}
.single_product .product_details {
  padding: 10px 0px 0 15px;
}
.single_product .product_details div {
  margin-top: 10px;
}
.single_product .product_details .product_name {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
}
.product_details .product_ratings {
  height: fit-content;
  display: flex;
  align-items: center;
}
.product_details .product_ratings span {
  padding-right: 5px;
}
.product_details .product_ratings .product_rating_stars {
  display: flex;
  color: goldenrod;
}
.product_details .product_ratings .product_rating_stars h3 {
  margin-right: 2px;
}
.product_details .product_ratings .product_rating_count {
  font-size: 15px;
  line-height: 16px;
  opacity: 0.5 !important;
  color: var(--secondary-muted-color);
}
.product_details .product_price span {
  margin-right: 10px;
}
.product_details .product_price .price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.product_details .product_price .previous_price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.single_product .product_buttons {
  width: 100%;
  display: flex;
  align-items: center;
}
.single_product .product_buttons div {
  margin-right: 10px;
}
.single_product .product_buttons .add_button button {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}
.single_product .product_buttons .additional_buttons span {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
/*-------------------------
  Header All Css
---------------------------*/
.header {
  height: 50px;
  background-color: var(--primary-color);
}
/*-------------------------
  Header Top Css
---------------------------*/

.header_top {
  border-bottom: 1.5px solid #8b8b8b;
  display: none;
}
/*-------------------------
  Header Middle Css
---------------------------*/

.ham-burger {
  display: block !important;
  padding-top: 7px;
}
.ham-burger a > span {
  height: 3px;
  width: 30px;
  display: flex;
  flex-direction: column;
  background: var(--btn-color);
}
.ham-burger:not(:last-child) a > span {
  margin-bottom: 5px;
}
.header_middle .header_logo img {
  /* background:red !important; */
  width: 56px;
  padding: 6px 0;
}

/*-------------------------
  Sidebar Component css
---------------------------*/
.sidebar_menu {
  width: 50%;
  height: 100%;
  background: var(--light-color);
  border: 2px solid var(--primary-color);
  position: absolute;
  left: -50%;
  top: 0px;
  z-index: 100;
  padding-top: 18px;
}
.sidebar_open {
  left: 0;
}
.sidebar_close_btn {
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  float: right;
}
.sidebar_menu ul li:not(:last-child) a {
  border-bottom: 1px solid var(--muted-color);
}
.sidebar_menu ul li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
}
.sidebar_menu ul li a:hover {
  background-color: var(--primary-color);
}

/*-------------------------
  Header Search Component css
---------------------------*/
.header_search {
  display: none !important;
}
.select-css {
  width: 155px;
  border: none;
  border-right: 1px solid var(--secondary-muted-color);
  padding-left: 15px;
  font-size: 17px;
  font-weight: 600;
}
.select-css option {
  border-bottom: 1px solid var(--muted-color);
  padding: 10px 0;
}
.search-input {
  height: 40px !important;
  border: none !important;
}
.search-input::placeholder {
  color: var(--secondary-muted-color);
  padding-left: 15px;
  font-size: 15px;
  font-weight: 600;
}
.input-group-append .lnr {
  font-size: 15px;
  font-weight: 900;
}

/*-------------------------
  Header Service Info css
---------------------------*/

.header_service_info {
  display: none !important;
}
/*-------------------------
  Navigation CSS here
---------------------------*/
.navigation {
  height: 50px;
  background-color: var(--primary-color);
  position: relative;
  display: none;
}

/*------------------------
  Page Routes component
--------------------------*/
.route_page_links {
  height: 50px;
}
.page_links a li {
  line-height: 50px;
  text-transform: capitalize;
  font-size: 18px;
  margin-left: 25px;
}

/*------------------------
  Nav buttons component
--------------------------*/
.nav_button {
  line-height: 50px;
  height: fit-content;
  padding-right: 0;
  padding-top: 0px;
}
.nav_button span.icon {
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}
.nav_button span.count {
  background-color: var(--btn-color);
  border-radius: 50%;
  color: var(--light-color);
  font-size: 10px;
  height: 16px;
  right: 56px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: -5px;
  width: 16px;
}
.cart_drop_down {
  background-color: var(--light-color);
  padding: 15px;
  border: 2px solid var(--primary-color);
  top: 100%;
  right: 20px;
  position: absolute;
  z-index: 100;
}
.user_drop_down {
  background-color: var(--light-color);
  padding: 15px;
  border: 2px solid var(--primary-color);
  top: 100%;
  right: 0px;
  position: absolute;
  z-index: 100;
}

/*-------------------------------------
  Home Banner Css here
---------------------------------------*/
.slider-area {
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.single-slider {
  border-radius: 0.625rem;
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.slider-text h1 {
  color: var(--light-color);
  font-size: 31px;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 700;
}

.slider-text p {
  width: 60%;
  font-size: 16px;
  margin-bottom: 55px;
  margin-top: 20px;
  line-height: 25px;
  color: var(--light-color);
}

.btn-1.home-btn {
  background: var(--primary-color);
  color: var(--btn-color);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  padding: 0 24px;
  text-transform: capitalize;
}

.btn-1.home-btn:hover {
  background: var(--primary-color);
  color: var(--light-color) !important;
}

/* -----------------------------
  Owl Carousel CSS (Header Slider) All breakpoints
--------------------------------*/
.home_slider .owl-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 35px;
  left: 45%;
  height: 20px;
  background: var(--light-color);
  border-radius: 1.25rem;
}
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
}
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.home_slider .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary-color);
  border: none;
}

/* -----------------------------
  Features Card CSS
--------------------------------*/
.features_card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
.f_card {
  border-width: 1px;
  border-style: solid;
  border-color: var(--muted-color);
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}
.f_card_img img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.f_card_details h3 {
  font-weight: 600;
}
.f_card_details p {
  font-size: 14px;
  line-height: 17px;
}
.f_card div > img,
.f_card div > h3,
.f_card div > p {
  margin: 5px 0 !important;
}

/*------------------------------------
    Featured Product CSS here
--------------------------------------*/

.feature_product {
  text-transform: capitalize;
}
.featured_product_nav {
}
.featured_product_nav .section_name h3 {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.featured_product_nav .section_name h3::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 2px;
  border-radius: 0.375rem;
  background-color: var(--btn-color);
}
.featured_product_nav .box-tab ul {
  display: flex;
  justify-content: space-around;
}
.featured_product_nav .box-tab ul li {
}
.featured_product_nav .box-tab ul li a {
  padding: 5px;
}

.feature_product_slider {
  position: relative;
}
.feature_product_slider .owl-carousel.owl-theme .owl-nav {
  position: absolute;
  top: -18%;
  right: 0%;
}
.feature_product_slider .owl-nav .owl-prev,
.feature_product_slider .owl-nav .owl-next {
  border: red !important;
}
.feature_product_slider .owl-carousel.owl-theme .owl-nav .owl-prev span,
.feature_product_slider .owl-carousel.owl-theme .owl-nav .owl-next span {
  font-size: 2rem;
}
/*------------------------------------
    Wide Banner CSS here
--------------------------------------*/
.wide_banner {
  position: relative;
  height: 300px;
  /* background: var(--primary-color);
  opacity: 0.6; */
}
.wide_banner .banner_img {
  height: 100%;
}
.wide_banner .banner_img img {
  object-fit: contain;
  /*display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 500px; */
}
.wide_banner .banner_text {
  position: absolute;
  top: 20%;
}
.wide_banner .banner_text {
  color: var(--light-color);
}
.wide_banner .banner_text h2 {
  font-weight: 700;
}
.wide_banner .banner_text p {
  font-size: 1.2rem;
}
.wide_banner .banner_text .banner_btn {
  border-radius: none;
  background: var(--primary-color);
  text-transform: capitalize;
  padding: 0.5em 0.8em;
  font-weight: 600;
  font-size: 1rem;
}
/*------------------------------------
    Best Sellers CSS here
--------------------------------------*/
/* Best sellers nav  */
.best_sellers_nav .section_name h3 {
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.best_sellers_nav .section_name h3::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 2px;
  border-radius: 0.375rem;
  background-color: var(--btn-color);
}
/* Best sellers products  */
.best_sellers_products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  text-transform: capitalize;
}
/* Best sellers headers  */
.best_heading_product {
  width: 100%;
  border: 1px solid var(--muted-color);
  border-radius: 0.375rem;
  padding: 0.938rem;
  margin-bottom: 1em;
}

.best_heading_product .best_heading_img {
  width: 100%;
}
.best_heading_product .best_heading_img img {
  width: 100%;
  /* max-width: 360px; */
  max-height: 200px;
  border-radius: 0.375rem;
  object-fit: contain;
}
.best_heading_product_details {
  padding: 1rem 0;
}
.best_heading_product_details div {
  margin-top: 10px;
}
.best_heading_product_details .product_name {
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
}
.best_heading_product_details .best_heading_product_ratings {
  height: fit-content;
  display: flex;
  align-items: center;
}
.best_heading_product_details .best_heading_product_ratings span {
  padding-right: 5px;
}
.best_heading_product_details
  .best_heading_product_ratings
  .product_rating_stars {
  display: flex;
  color: goldenrod;
}
.best_heading_product_details
  .best_heading_product_ratings
  .product_rating_stars
  h3 {
  margin-right: 2px;
}
.best_heading_product_details
  .best_heading_product_ratings
  .product_rating_count {
  font-size: 15px;
  line-height: 16px;
  opacity: 0.5 !important;
  color: var(--secondary-muted-color);
}
.best_heading_product_details .best_heading_product_price span {
  margin-right: 10px;
}
.best_heading_product_details .best_heading_product_price .price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.best_heading_product_details .best_heading_product_price .previous_price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.best_heading_product_details .best_heading_product_buttons {
  width: 100%;
  display: flex;
  align-items: center;
}
.best_heading_product_details .best_heading_product_buttons div {
  margin-right: 10px;
}
.best_heading_product_details .best_heading_product_buttons .add_button button {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}
.best_heading_product_details
  .best_heading_product_buttons
  .additional_buttons
  span {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
/* Best sellers products container  */
.best_product_container {
  display: flex;
  flex-wrap: wrap;
}
.best_single_item {
  width: fit-content;
  border: 1px solid var(--muted-color);
  border-radius: 0.375rem;
  padding: 0.625rem;
  /* margin-bottom: 1em; */
  position: relative;
}
.best_single_item .best_item_img {
  width: 100%;
}
.best_single_item .best_item_img img {
  width: 100%;
  /* max-width: 360px; */
  max-height: 200px;
  /* height: 298px; */
  border-radius: 0.375rem;
  object-fit: contain;
}
.best_item_details {
  padding: 1rem 0;
}
.best_item_details div {
  margin-top: 0.313rem;
}
.best_item_details .product_name {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}
.best_item_details .best_item_ratings {
  height: fit-content;
  display: flex;
  align-items: center;
}
.best_item_details .best_item_ratings span {
  padding-right: 5px;
}
.best_item_details .best_item_ratings .product_rating_stars {
  display: flex;
  color: goldenrod;
}
.best_item_details .best_item_ratings .product_rating_stars h5 {
  margin-right: 0.125rem;
}
.best_item_details .best_item_ratings .product_rating_count {
  font-size: 15px;
  line-height: 16px;
  opacity: 0.5 !important;
  color: var(--secondary-muted-color);
}
.best_item_details .best_item_price span {
  margin-right: 0.625rem;
}
.best_item_details .best_item_price .price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.best_item_details .best_item_price .previous_price {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}
.best_item_details .best_item_buttons {
  width: 100%;
  display: flex;
  align-items: center;
}
.best_item_details .best_item_buttons div {
  margin-right: 10px;
}
.best_item_details .best_item_buttons .add_button button {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}
.best_item_details .best_item_buttons .additional_buttons span {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
/*
XL Device :1200px.
*/
@media (min-width: 1200px) and (max-width: 1500px) {
  /*-------------------------
    Header Component CSS here
  ---------------------------*/
  .header {
    height: 142px;
    padding-top: 10px;
  }
  .header_top {
    display: block;
  }
  .header_middle {
    margin-top: 10px;
  }
  .header_middle .header_logo {
    width: 167px;
    height: 90px;
  }

  .ham-burger {
    display: none !important;
  }
  .sidebar_menu {
    display: none;
  }
  .header_middle .header_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .header_search {
    display: block !important;
  }
  .input-group {
    background-color: var(--light-color) fff;
    padding: 0px !important;
    height: 100%;
  }

  /*-------------------------
  Header Service Info css
---------------------------*/
  .header_service_info {
    display: block !important;
    padding-right: 0 !important;
  }
  .header_service_info .number {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
  }
  /*-------------------------
  Category dropdown CSS here
---------------------------*/

  .category_dropdown {
    background-color: var(--light-color);
    border: 2px solid var(--primary-color);
    position: absolute;
    top: 20;
    z-index: 1000;
    display: block;
  }
  .category_dropdown .dropdown_btn {
    height: 50px;
  }
  .category_dropdown .dropdown_btn .btn_text {
    font-size: 18px;
    margin-left: 10px;
  }
  .category_dropdown .dropdown_btn {
    padding: 10px 10px 10px 30px; /*top right bottom left*/
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    cursor: pointer;
  }
  .category_dropdown .dropdown_btn .lnr {
    font-size: 20px;
  }
  .category_dropdown ul.category_list a li {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }
  .category_dropdown ul.category_list a:not(:last-child) > li {
    border-bottom: 1px solid var(--muted-color) !important;
    padding-bottom: 10px;
  }

  /*---------------------- 
  Navigation Component 
  -------------------------*/
  .navigation {
    display: block;
  }
  .navigation_container {
    display: flex;
    flex-direction: row;
  }
  .nav_button {
    padding-top: 10px;
  }
  .nav_button span.count {
    font-size: 11px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 0px;
  }

  /* -----------------------------
  Features Card CSS
--------------------------------*/
  .features_card {
    font-size: 25px !important;
  }
  .f_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* -----------------------------
Featured product slider CSS
--------------------------------*/
  .feature_product_slider .owl-carousel.owl-theme .owl-nav {
    top: -9%;
  }
  /* -----------------------------
  Best Sellers CSS
--------------------------------*/
  /* Best sellers products container  */
  .best_product_container {
    /* padding-left: 0.938rem !important; */
  }
  .best_single_item {
    /* margin-right: 0.938rem; */
  }
  .best_item_details .best_item_ratings {
    display: block;
  }
  .best_item_details .best_item_ratings {
    margin: 0.438rem 0;
  }
  .best_item_details .best_item_buttons .add_button button {
    font-size: 14px;
  }
  .best_item_details .best_item_buttons .additional_buttons span {
    font-size: 14px;
  }

  /*XL Device :1200px. media ends here */
}

/* 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
